@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*╔═════════════════════════════════════════════════╗
    Main Page
  ╚═════════════════════════════════════════════════╝*/

:root {
  --background-image: url("https://media4.giphy.com/media/NzSUEgbTWB7TW/giphy.gif?cid=790b7611ec8f32a27c78dcb7e8300e9b30cd0b4149bd87e7&rid=giphy.gif");
}

/* Scrollbar */
*,
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(179, 104, 230) transparent;
}

/* Body background image */
body {
  /* With Dark Overlay */
  /*     background: linear-gradient(rgb(var(--color-background), 0.5), rgb(var(--color-background), 0.5)), rgb(var(--color-background)) var(--background-image) center/100% fixed !important; */
  /* Without Dark Overlay */
  /*     background: rgb(var(--color-background)) var(--background-image) center/100% fixed !important; */
  background: linear-gradient(
      rgb(var(--color-background), 0.5),
      rgb(var(--color-background), 0.5)
    ),
    rgb(var(--color-background)) var(--background-image) !important;
}

/* Hides hoh download button */
.hohDownload {
  display: none;
}

/*╔═══════════════ Overview Page ═══════════════════╗*/
/*╔═════════════════════════════════════════════════╗
    Status [Anime & Manga counts]
  ╚═════════════════════════════════════════════════╝*/

/* Stats Wrap */
.list-stats > .stats-wrap .stat .value {
  font-size: 2rem;
  font-weight: 700;
}

/*╔═════════════════════════════════════════════════╗
    Activities [Posts & Others]
  ╚═════════════════════════════════════════════════╝*/

/* Display all status posts in full regardless of their length */
.activity-text .text .markdown {
  max-height: unset;
}

/* Activity Reply Icon */
.replies > .count {
  color: #f2952f;
}
.replies > *:nth-child(2) {
  color: #f2952f;
}

.like-wrap:hover .fa-heart {
  animation: heartBeat 1s ease-in infinite;
}

/* Grid layout after banner and nav */
@media (min-width: 1540px) {
  .user .overview {
    grid-template-columns: calc(40% - 40px) 60% !important;
  }
}

/*╔═════════════════════════════════════════════════╗
    Animations
  ╚═════════════════════════════════════════════════╝*/

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.05);
  }

  60% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }
}

/*╔═════════════════════════════════════════════════╗
      BreakPoints
  ╚═════════════════════════════════════════════════╝*/
@media (min-width: 760px) {
}
@media (min-width: 1040px) {
}
@media (min-width: 1360px) {
}
@media (min-width: 1540px) {
}

/*╔═════════════════════════════════════════════════╗
    Playground
  ╚═════════════════════════════════════════════════╝*/
